@{
    ViewBag.Title = "StatusCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../content/css.css" rel="stylesheet" type="text/css">
<div class="searchexpert" ng-controller="ApplyStatusCheck">
          <div class="searchexpert_left"> <span class="searchexpert_left_title">状态查询</span> </div>
          <div class="searchexpert_center"></div>
          <div class="searchexpert_right"> </div>
          <div class="clear"> </div>
          <div class="searchexpert_content">
    
           <!--列表-->
      <div class="gridiframe">
        <table class="gridcontent" width="100%">
          <tr>
            <td class=" bg_thead">编号</td>
            <td class="bg_thead">项目</td>
            <td class="bg_thead">状态</td>
            <td class=" bg_thead">申请时间</td>
       
          </tr>
          <tr class="border_t_n" ng-repeat="status in applyStatus">
            <td ng-bind="$index"></td>
            <td ng-bind="status.ItemName"></td>
            <td ng-bind="status.ReviewStatus"></td>
            <td ng-bind="status.SubmitDate"></td>        
          </tr>         
          <tbody>
          </tbody>
        </table>
      </div>
 
          </div>
        </div>
<script src="~/Scripts/Views/newapply.js"></script>