@{
    ViewBag.Title = "StatusCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../content/css.css" rel="stylesheet" type="text/css">
<div class="searchexpert">
          <div class="searchexpert_left"> <span class="searchexpert_left_title">状态查询</span> </div>
          <div class="searchexpert_center"></div>
          <div class="searchexpert_right"> </div>
          <div class="clear"> </div>
          <div class="searchexpert_content">
    
           <!--列表-->
      <div class="gridiframe">
        <table class="gridcontent" width="100%">
          <tr>
            <td class=" bg_thead">编号</td>
            <td class="bg_thead">项目</td>
            <td class="bg_thead">状态</td>
            <td class=" bg_thead">申请时间</td>
       
          </tr>
          <tr class="border_t_n">
            <td >001</td>
            <td>预约申请</td>
            <td>审核中</td>
            <td>2015-2-4</td>
        
          </tr>
          <tr>
            <td>002</td>
            <td>首次免费申请</td>
            <td>审核中</td>
            <td>2015-2-4</td>
 
          </tr>
          <tr>
            <td>003</td>
            <td>第二次免费申请</td>
            <td>审核中</td>
            <td>2015-2-4</td>
       
          </tr>
          <tr>
            <td>004</td>
            <td>第二次免费申请</td>
            <td>审核中</td>
            <td>2015-2-4</td>
     
          </tr>
          <tbody>
          </tbody>
        </table>
      </div>
 
          </div>
        </div>