@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

 <div class="mainbox">

        <!--导航-->
        <div class="yarnlet">> 工作提醒</div>
        <!--nr-->
        <div class="nrframe mt_10 mr_10">
            <div class="lbb">
                <div class="txlb">
                    <table class="tablea" align="center">
                        <tr>
                            <td>
                                <img src="../images/warn.png" width="50" height="48" /></td>
                            <td>您有20个申请需要审核</td>
                        </tr>
                    </table>
                </div>
                <div class="txlb">
                    <table class="tablea" align="center">
                        <tr>
                            <td>
                                <img src="../images/warn.png" width="50" height="48" /></td>
                            <td>您有25个电话反馈待处理</td>
                        </tr>
                    </table>
                </div>
                <div class="txlb">
                    <table class="tablea" align="center">
                        <tr>
                            <td>
                                <img src="../images/warn.png" width="50" height="48" /></td>
                            <td>您有2个患者待发药</td>
                        </tr>
                    </table>
                </div>
                <div class="txlb">
                    <table class="tablea" align="center">
                        <tr>
                            <td>
                                <img src="../images/warn.png" width="50" height="48" /></td>
                            <td>您有8个续领申请领申请</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
     </div>
