@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUnLogin.cshtml";
}


<div class="searchexperta">
    <div class="searchexpert_left"> <span class="searchexpert_left_title">预约信息</span> </div>
    <div class="searchexpert_centera"></div>
    <div class="searchexpert_right"> </div>
    <div class="clear"> </div>
    <div class="searchexpert_contenta">
    <h2 align="center">              凯美纳后续免费用药项目介绍
        <br />
        2013-6-6</h2>
　　<br />
&nbsp;&nbsp;&nbsp;&nbsp;凯美纳是国家食品药品监督管理局新批上市的第一个由中国自主研发成功的小分子靶向抗肿瘤药。它疗效确切且副作用小，和传统化疗药物相比具有显著的优势。凯美纳大规模注册III期临床试验结果显示：凯美纳疗效与进口同类靶向药吉非替尼相当，但是安全性较后者更优。 　　<br />
为了降低获益病人长期用药之费用，帮助更多的患者用上凯美纳，同时彰显贝达药业股份有限公司对社会的责任，中国医药工业科研开发促进会和贝达药业股份有限公司拟联合开展用药6个月后的后续免费用药项目。<br />
 
<strong><div class="mt_20">适用对象：</div></strong> 　
所有明确病理诊断为原发性晚期非小细胞肺癌(NSCLC)、适用凯美纳治疗的中国大陆患者。无地区名额、经济条件和其它优先条款限制。 　　<br />
<strong><div class="mt_20">实施方法：</div></strong> 　
患者自愿参加本研究，在您决定用凯美纳时，请在处方医生处领取凯美纳免费用药项目材料，并在两月内填写《凯美纳后续免费用药患者信息登记表》和《患者告知书》，邮寄至项目办，完成注册。在连续使用凯美纳6个月(相当于26 盒凯美纳) 之后，由本研究指定医疗中心的注册医生按照RECIST标准评估疗效。如判定为缓解或稳定，并通过第三方机构审核，将可获得凯美纳后续免费用药。在后续给药期间，你将继续接受医生的诊治及临床观察，直至病情进展、或出现不可耐受的不良反应。
<br />
<br />
<div style="text-align:center">
<input type="button" class="yydj " onclick=" javascript: window.location.href = '../Home/AddInfo'" value="预约登记" /></div>

<strong><div class="mt_20">相关事项告知如下： </div></strong>
● 项目启动时间：2011年7月 　　<br />
● 项目联系方式：- 求助热线：4008096995 　　<br />
- 资料邮寄地址(只接收EMS特快专递)：杭州市余杭16信箱    
邮编：311100 　　<br />
收件方：凯美纳后续免费用药项目办公室 　　<br />
网址：www.conmana.com 　　<br />
项目监查：项目组对入组患者定期进行抽查，核对个人信息和病例资料，如发现不符将立即停止免费用药。 　　<br />

</div>
</div>
<div class="mainright">
    <div class="mainright_weather" style="background-color: #f6f6f6;">
    <div class="mainright_title"> <span class="mainright_title_img"> <img src="Images/main_right_icon.gif" /></span><span class="mainright_title_text">用药公告</span></div>
    <div class="mainright_weather_info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凯美纳是国家食品药品监督管理局新批上市的第一个由中国自主研发成功的小分子靶向抗肿瘤药。它疗效确切且副作用小，和传统化疗药物相比具有显著的优势。凯美纳大规模注册III期临床试验结果显示：凯美纳疗效与进口同类靶向药吉非替尼相当，但是安全性较后者更优。</div>
    </div>
    <div class="mainright_telephone">
    <div class="mainright_title"> <span class="mainright_title_img"> <img src="Images/main_right_icon.gif" /></span><span class="mainright_title_text">客服热线</span></div>
    <div><img src="../images/main_right_telephone.gif" width="193" height="128" /></div>
    </div>
    <div class="mainright_faq">
    <div class="mainright_title"> <span class="mainright_title_img"> <img src="Images/main_right_icon.gif" /></span><span class="mainright_title_text">常见问题</span> </div>
    <div class="clear"> </div>
    <div class="mainright_weather_info">
                        <ul>
                            <li><a>可否大致介绍下凯美纳后续...</a></li>
                            <li><a>项目申请时所需要材料</a></li>
                            <li><a>通过什么途径能了解到凯美...</a></li>
                            <li><a>凯美纳后续免费用药项目什...</a></li>
                            <li><a>服用6个月凯美纳到申请免费...</a></li>
                            <li><a>凯美纳后续免费用药与商品...</a></li>
                            <li><a>如果患者本人亲自领药实在...</a></li>
                            <li><a>为何患者收到入组通知书后...</a></li> 
                                <li><a>凯美纳后续免费用药项目什...</a></li>
                            <li><a>服用6个月凯美纳到申请免费...</a></li>
                            <li><a>凯美纳后续免费用药与商品...</a></li>
                            <li><a>如果患者本人亲自领药实在...</a></li>
                            <li><a>为何患者收到入组通知书后...</a></li>
                        </ul> 
                    </div>
    </div>
</div>  
   
